<% unless cart.line_items.empty? %>
<div class="cart_title" >Nákupní košík</div>
<table>
  <%= render(cart.line_items) %>

  <tr class="total_line" >
    <td colspan="2" >Celkem</td>
    <td class="total_cell" >
      <%= number_to_currency(cart.total_price, :locale => :cs) %>
    </td>
  </tr>
</table>
<%= button_to "Objednat", new_order_path, method: :get %>
<%= button_to 'Vyprázdnit košík', cart, method: :delete,
              confirm: 'Opravdu vyprázdnit?' %>
<% end %>
